{
  "presets": [
    "es2015",
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    "transform-class-properties",
    ["transform-es2015-classes", {"loose": true}],
    ["transform-object-rest-spread", {"useBuiltIns": true}],
    "transform-async-generator-functions"
  ]
}
