@import "src/assets/common/scss/index";

.mod-profitList {
  background-color: $bgGrey;
  &.ani .scroll-warp {
    transition: padding 0.5s cubic-bezier(0.42, 0, 0.33, 1.24) 0s;
  }
  .profitItem{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    .profitItemHead {
      display: flex;
      flex-direction: row;
      .profitDate{
        width: 50%;
      }
      .totalProfitE2{
        width: 50%;
      }
    }
    .profitDetailItem{
      display: flex;
      flex-direction: row;
      .fundName{
        width: 50%;
      }
      .profitE2{
        width: 50%;
      }
    }
  }
}

.head{
  height:96px;
  width:100%;
  background-color: white;
  color: #282D41;
  font-size: 24px;
  text-align: center;
  line-height: 96px;
}